[flake8]
max-line-length = 120
exclude = venv, .git, __pycache__
ignore =
    E203,  # Пробел перед ':'
    W503,  # Разрыв бинарных операторов
    F401   # Неиспользуемые импорты (часто нужно в __init__.py)